    <style>

      table{
        border:none;

        border-collapse: separate;
        border-spacing: 2px;

      }
      td, th{
        width:60px;
        height:60px;
      }

      th.browser{
        -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg);
      }
      .pass {background-color:#0f0;}
      .fail {background-color:#f00;}
      table.matrix{
        margin:0 auto;
      }

      .navbar{margin-bottom:0;}
      .body-content{margin-top:0;}
      .content.container{width:100% !important; margin:0;}
      .content .span12{width:100%; margin-left:0 !important;}
      
      .blue, .blue h1{
        background-color:#00baf0;
        color:#fff;
      }
      .blue{padding-top:2em; padding-bottom:2em; text-align:center; margin-bottom:1em;}


      ul{ width:300px; margin:0 auto; margin-top:3em;}
      
    </style>

<div class='blue'>
    <h1>Testing Libraries across Browsers</h1>
</div>

    <table class='matrix'>
      <tr>
        <th>Library</th>
        {% for browser in browsers %}
        <th class='browser'><span>{{ browser }}</span></th>
        {% endfor %}
      </tr>
      {% for library in libraries %}
      <tr>
        <th>{{ library.name }}</th>
         {% for res in library.results %}
         <td class="{{ res }}">&nbsp;</td>
         {% endfor %}
      </tr>
      {% endfor %}

    </table>

    <ul>
      {% for job in jobs %}
        <li class='{{ job.res }}'>{{ job.repo_url }}</li>
      {% endfor %}
    </ul>


    <a href = "/login">Are you a library owner? Login...</a>
