{% extends "base.html" %}

{% block bodyContent %}
<div class="span12 job-page">
  <div class="row-fluid job-page-intro">
    <div class="span7 job-title">
      {% pluginblock JobPagePreTitle %}{% endpluginblock %}
      <h3 id="job-tools">
				{% if currentUser %}
        <a class="tool" id="retest-deploy-button"
           data-url="{{repo_url}}"
           data-task="TEST_AND_DEPLOY"
           title="Retest &amp; Deploy">
          <i class="icon-cloud-upload"></i>
        </a>
        <a class="tool" id="retest-button"
           data-url="{{repo_url}}"
           data-task="TEST_ONLY"
           title="Retest" class="clickable">
          <i class="icon-refresh"></i>
        </a>
        <a class="tool" href="/{{org}}/{{repo}}/config"
           title="Configure">
          <i class="icon-wrench"></i>
        </a>
				{% endif %}
        <a class="tool" href="{{repo_url}}"
           target="_blank">
          <i class="icon-github"></i>
        </a>
      </h3>
      <h3>Job {{job_id}} <span class='job-repo'>{{org}}/{{repo}}</span></h3>
      {% pluginblock JobPagePostTitle %}{% endpluginblock %}
    </div>
  </div>
  <div class='job-main'>
		{% pluginblock JobMain %}
			{% include "partials/_build.html" %}
		{% endpluginblock %}
  </div>
  <script src="/ext/browserswarm-plugin/scripts/job-tools.js"></script>
</div>
{% pluginblock AfterJobPage %}{% endpluginblock %}
{% endblock %}
