

<h4>Or, view results from <a href="/">another framework</a>.</h4>

<p class="different-framework">Looking for a different framework? Don’t worry! More frameworks are on the way. You can <a href="#">contact us</a> to request a framework, or have yours included.</p>

	<div id="email-signup" class="email-signup">
		<div class="wrap">

			<header class="section-header">
				<h3 class="section-title">Signup for Updates</h3>
				<p class="description">What’s the best way to keep up to date with our progress? Signup for Email notifications. We’ll let you know when we add new frameworks, new features, or other major news. And we promise not to spam you or sell your info to someone else.</p>
			</header>

			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup" class="mc_embed_signup">
				<form action="http://appendto.us1.list-manage1.com/subscribe/post?u=675e4f7ef901d5b8f5f909c2f&amp;id=29227a58a7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<label for="mce-EMAIL" class="hidden-accessible">Enter Your Email Address</label>
					<input type="email" value="" name="EMAIL" class="email-input" id="mce-EMAIL" placeholder="email address" required>
					<input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="submit-button">
				</form>
			</div><!--End mc_embed_signup-->

		</div>
	</div><!--/.email-signup-->

	<div id="framework-author-info" class="framework-author-info">
		<div class="wrap">

			<header class="section-header">
				<h3 class="section-heading">Are You A Framework Author?</h3>
				<p class="description">Are you a framework author interested in testing your library or framework with BrowserSwarm? <br/>Email us at <a href="mailto:frameworkauthor@browserswarm.com">frameworkauthor@browserswarm.com</a> to find out more.</p>
			</header>

		</div>
	</div>

