	<header class="site-header group">
		<div class="wrap">

			<a href="/" class="branding"><img src="/ext/browserswarm-plugin/browserswarm-logo.png" alt="BrowserSwarm logo" class="logo"></a>

			<span id="navtrigger" class="navtrigger">
				<img src="/ext/browserswarm-plugin/nav-icon.svg" alt="Menu" class="hambergericon" />
			</span>

			<div class="navwrap">

                {% if currentUser %}
                    <a href="/logout" class="site-login">Logout</a>
                {% else %}
                    <a href="/login" class="site-login">Login</a>
                {% endif %}

				<nav class="site-nav">
                    {% if currentUser %}
                        <a href="/" class="nav-link">Dashboard</a>
                        <a href="/account" class="nav-link">Settings</a>
                    {% endif %}
					<a href="/#framework-matrix" class="nav-link">Framework Results</a>
					<a href="/#about-browserswarm" class="nav-link">About</a>

                    {% if !currentUser %}
                        <a href="/signup" class="nav-link">Register</a>
                    {% endif %}
				</nav>

			</div><!--/.navwrap-->

		</div>
	</header>
