	<header class="site-header group">
		<div class="wrap">

			<a href="/" class="branding"><img src="/ext/browserswarm-plugin/browserswarm-logo.png" alt="BrowserSwarm logo" class="logo"></a>

			<span id="navtrigger" class="navtrigger">
				<img src="/ext/browserswarm-plugin/nav-icon.svg" alt="Menu" class="hambergericon" />
			</span>

			<div class="navwrap">

				<div class="twitter">
					<a href="https://twitter.com/Browserswarm" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @Browserswarm</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://browserswarm.com" data-text="Save time doing cross-browser testing with BrowserSwarm -" data-count="none">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>

                {% if currentUser %}
                    <a href="/logout" class="site-login">Logout</a>
                {% else %}
                    <a href="/login" class="site-login">Login</a>
                {% endif %}

				<nav class="site-nav">
                    {% if currentUser %}
                        <a href="/" class="nav-link">Home</a>
                        <a href="/dashboard" class="nav-link">Dashboard</a>
                        <a href="/account" class="nav-link">Settings</a>
                    {% endif %}
					<a href="/#framework-matrix" class="nav-link">Framework Results</a>
					<a href="/#about-browserswarm" class="nav-link">About</a>

                    {% if !currentUser %}
                        <a href="/signup" class="nav-link">Add Your Project</a>
                    {% endif %}
				</nav>

			</div><!--/.navwrap-->

		</div>
	</header>
